@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Anton&family=Bangers&family=Flavors&family=Londrina+Outline&family=Permanent+Marker&family=Rubik+Spray+Paint&family=Sigmar&display=swap');

body {
  background-color: #222 !important;
  color: #888;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('../public//mainBG.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

/* Fonts */
.flavors-regular {
  font-family: "Flavors", cursive;
  font-weight: 400;
  font-style: normal;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik-spray-paint-regular {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alert-confirm:focus {
  background-color: rgb(255,140,0);
  color: white !important;
}

.btn:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.btn:hover {
  background-image: none  !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: rgb(255,140,0) !important;
  color: rgb(255,140,0) !important;
}

.btn-outline-primary:hover {
  background-color: rgb(255,140,0);
  color: white !important;
}

.border-primary-orange {
  border-color: rgb(255, 140, 0) !important;
}

.border-primary-orange-subtle {
  border-color: rgba(255, 180, 90, 0.3) !important;
}

.text-bg-darker {
  color: #888;
  background-color: #222;
}

.text-bg-darkest {
  color: #888;
  background-color: #111;
}

.bg-primary-orange {
  background-color: rgb(255, 140, 0);
}

.text-primary-orange {
  color: rgb(255, 140, 0);
}

.text-primary-orange-emphasis {
  color: rgba(255, 180, 90, 0.3) !important;
}

.bg-darker {
  background-color: #222 !important;
}

.bg-darkest {
  background-color: #111 !important;
}

.flex-basis-0 {
  flex-basis: 0;
}

.flex-basis-45 {
  flex-basis: 45%;
}

.flex-basis-33 {
  flex-basis: 33.33%;
}

.fs-smaller {
  font-size: smaller;
}