body {
  background-color: #1A1A1A !important;
  color: #888;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('../public//mainBG.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.alert-confirm:focus {
  background-color: #AA5D00;
  color: white !important;
}

.btn:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.btn:hover {
  background-image: none  !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: #AA5D00 !important;
  color: #AA5D00 !important;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus-visible {
  background-color: #AA5D00!important;
  color: #1A1A1A !important;
  outline: none !important;
}

.border-primary-orange {
  border-color: #D4963E !important;
}

.border-primary-orange-subtle {
  border-color: rgba(255, 180, 90, 0.3) !important;
}

.text-bg-darker {
  color: #888;
  background-color: #1A1A1A;
}

.text-bg-darkest {
  color: #888;
  background-color: #111;
}

.bg-primary-orange {
  background-color: #AA5D00;
}

.text-primary-orange {
  color: #AA5D00;
}

.text-accent {
  color: #247BA0;
}

.text-secondary {
  color: #73787E !important;
}

.text-secondary-purple {
  color: #BEAEE8;
}

.text-secondary-green {
  color: #c8e6c0;;
}

.text-primary-orange-emphasis {
  color: #D4963E !important;
}

.bg-darker {
  background-color: #1A1A1A !important;
}

.bg-darkest {
  background-color: #111 !important;
}

.flex-basis-0 {
  flex-basis: 0;
}

.flex-basis-45 {
  flex-basis: 45%;
}

.flex-basis-33 {
  flex-basis: 33.33%;
}

.fs-smaller {
  font-size: smaller;
}

/* Fonts */
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
}

.anton-regular {
  font-family: "Anton", sans-serif;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
}

.flavors-regular {
  font-family: "Flavors", cursive;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
}

.rubik-spray-paint-regular {
  font-family: "Rubik Spray Paint", system-ui;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
}

@font-face {
  font-family: "Annie Use Your Telescope";
  src: url('./fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url('./fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bangers';
  src: url('./fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Flavors';
  src: url('./fonts/Flavors-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Londrina Outline';
  src: url('./fonts/LondrinaOutline-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('./fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Spray Paint';
  src: url('./fonts/RubikSprayPaint-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sigmar';
  src: url('./fonts/Sigmar-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}